@import url('https://fonts.googleapis.com/css?family=Roboto:100&display=swap');
body {
  margin: 0px;
  overflow: hidden;
  background-color: #111;
  min-height: 100%;
}
html {
  height: 100%;
}
#wrap {
  position: absolute;
  top: 50%;
  left: 50%;
}
#wrap canvas {
  width: 100%;
  height: 100%;
}
