#headertitleshort, #headerLinksNavMenu, #headertitleshorter {
  display: none;
}
#headerLinksNavMenu {
  width: 100%;
}
#headerLinksNavMenu .headertitle {
  position: absolute;
  right: 40px;
  margin-top: -2px;
}
#menuBox {
  width: 60px;
  height: 60px;
  align-items: center;
  position: relative;
  background-image: url("/font-awesome/bars.svg")
}
#menuBox:hover + #headerLinksNav {
  display: block!important;
}
@media only screen and (max-width: 770px) {
  #headertitle {
    display: none;
  }
  #headertitleshort {
    display: block;
  }
  #headerLinksNav {
    position: absolute!important;

    right: 10px!important;
    left: auto!important;
  }
  #fullScreenBox {
    display: none;
  }
}
@media only screen and (max-width: 430px) {
  #headertitle, #headertitleshort {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  #headertitle, #headertitleshort, #headerLinksNav {
    display: none;
  }
  #headerLinksNavMenu {
    display: block;
  }
  #headerLinksNav {
    width: 100%;
  }
  .ali {
    width: 100px!important;
    margin-right: 2px!important;
  }
  .ali button {
    padding: .5rem;
  }
}
@media only screen and (max-width: 250px) {
  #headertitlesemi {
    display: none;
  }
  #headertitleshorter {
    display: block;
  }
}
