body {
  background: white;
  user-select: none;
  color: white;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
.loadbar {
  width: 300px;
  height: 10px;
  transform: translate(-50%,100px);
  background-color: rgba(0, 0, 0, .1)
}
.loadbar div {
  width: 100%;
  height: 100%;
  background-color: green;
  animation: enlarge 3s ease;
}
.footer {
  position: fixed;
  top: unset;
  bottom: 0px;
}
@keyframes enlarge {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
#overlay {
  position: fixed;
  width: 100%;
  bottom: 1rem;
  font-size: 2rem;
  color: white;
  font-family: monospace;
  z-index: 2;
}
.hotbarItem {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
  border: 1px white dotted;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}
.hotbarItem:hover {
  border: 2px white dotted;
  background-color: rgba(255,255,255, 0.3);
}
.hotbarImg {
  width: 100%;
  /* height: 40px; */
}

.selected {
  background-color: rgba(255,255,255, 0.5);
}
.hotbarItem span {
  position: absolute;
  bottom: 5px;
  right: 10px;
}
.invItem span {
  position: absolute;
  bottom: -10px;
  right: 0px;
}
.item {
  position: fixed;
  background-image: url("img/tree.png");
  width: 96px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: top 1s, left 1s, transform .5s;
  transform: scale(.5);
}
.toHotbar {
  top: calc(100% - 1rem - 90px)!important;
  transform: scale(1);
}
.headerGradient {
  background-image: linear-gradient(135deg, #667eea, #764ba2);
  animation: gradientHeader 10s ease infinite;
  background-size: 400% 400%;
}
@keyframes gradientHeader {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
.menu {
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 80%;
  height: 80%;
  background-color: white;
  box-shadow: 1px 1px 1px #111111;
  border-radius: 10px;
  padding: 2rem;
  transition: opacity .5s, transform .5s;
  opacity: 1;
  color: white;
}
#crafting {
  padding: 1rem;
  align-items: center;
}
.craftImg {
  width: 60px;
}
.arrow {
  width: 60px;
}
@media only screen and (max-width: 1000px) {
  .menu {
    width: 90%;
  }
  .marktButton img {
    width: 100%!important;
  }
}
.invHidden {
  opacity: 0!important;
  transform: translate(-50%, -50%) scale(.1)!important;
}
.invItem {
  width: 60px;
  height: 60px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 5px white dashed;
  position: relative;
  color: white;
  font-size: 2rem;
  text-shadow: 5px 5px 5px #111111;
}
#darkOverlay {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1;
  transition: opacity .5s;
}
#craftingTable {
  padding-bottom: 10px;
  border-collapse:separate;
  border-spacing: 10px 1rem;
}
.darkHidden {
  opacity: 0;
}
.disabled {
  background-color: rgba(0, 0, 0, .5);
}
.disabled img {
  opacity: .5;
}
.disabled span {
  color: #f44336;
}
.td2 {
  position: absolute;
  right: 2rem;
}
.disabledOut {
  border: 5px #f44336 dashed;
}
.markt {
  height: calc(100% - 86px - 1rem)
}
.marktButton {
  width: calc(50% - 40px);
  display: inline-block;
  text-align: center;
  margin: 0px 10px;
  border-radius: 10px;
  border: white dashed 1px;

  padding: 10px;
  height: calc(100% - 86px - 12rem);

  position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
}
.marktButton img {
  width: 370px;
}
.marktButton h1 {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 0px);
}
.right {
  right: 0px;
}
